@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.hero_section{
    background-image: url(img/imgweb.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.text_container {
    color: gold;
    max-width: 900px;
    margin: 0 au;
    padding-top: 64px;
    padding-left: 16px;

}
.lg_text{
    font-size: 72px;
}
.black_box{
    background-color: black;
    padding: 20px;
}
.black_box h2{
    font-size: 72px;
    color: white;
    text-align: center;
    font-weight: 300;


}
.black_box h2 span{
    font-weight: 400;
    font-size: 96px;
}

.bbox{
    display: grid;
    gap: 30px;
    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    
    max-width: 1100px;
    margin: 50px auto;
    
}
.row {margin: 0 -5px;
    display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.column img{
    height: 200px;
    width: 100%;


}
.column {
    float: left;
    width: 45%;
    padding: 0 10px;
    
    
    
    

}
.card{
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  padding: 16px;
  text-align:center;
  background-color: #f1f1f1;
  transition: 0.2s ease-in-out;
  
  
}
.card:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
  }

.text_con h3{
    padding-bottom: 10px;
}

.block{
    display: flex;
}
.contact {
    background-color: #515603;
  }
  .about {
    background-color: #722300;
  }

  .contact, .about{
    min-height: 300px;
    padding: 32px;
    color: white;
  }

  .about h2,
.contact h2 {
  font-size: 64px;
  font-weight: 300;
}
.about p,
.contact p {
  margin-bottom: 20px;
}
footer{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    font-weight: 300;


}

@media (max-width: 786px)
 {
    .hero_section {
      min-height: 50vh;
    }
    .text_container {
        padding: 10px 0;
        text-align: center;
      }
      .lg_text {
        font-size: 32px;
      }
      .black_box h2 {
        font-size: 24px;
      }
      .black_box h2 span {
        font-weight: 400;
        font-size: 32px;  
      }
      .block{
        flex-direction: column;
      }
      h1 {
        font-size: 32px;
      }
      .about h2,
      .contact h2 {
        font-size: 32px;
      }
      
      .card{
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
      
    }
  









